.outer-container-timeline{
    display: grid;
    justify-content: center;
    grid-template-columns: 4fr 1fr 4fr;
    margin-top: 8px;
    @media (max-width: 450px) {
        grid-template-columns: 0px 32px 4fr;
        /* see if thats actually necessary later */
        max-width: 450px;
    }
}
.container-timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-timeline{
    color: #FFF;
    height: 32px;
    width: 32px;
    margin-bottom: 14px;

}
.stroke-timeline{
    width: 2px;
    height: 266px;
    background-color: #FFF;
}
.sideClassTimeline_1{
    visibility: hidden;
    @media (max-width: 450px) {
        visibility: visible;
    }
}
.toggle_visibility{
    @media (max-width: 450px) {
        margin-left: -300px;
        visibility: hidden;
    }
}


