.title {
    display: flex;
    gap: 8px;
}

h3 {
color: #DCEAFF;
font-family: 'Syne';
font-size: 16px !important;
font-style: normal;
font-weight: 700 !important;
line-height: 24px;
}

h4 {
color:  #DCEAFF;
font-family: 'Syne';
font-size: 16px !important;
font-style: normal;
font-weight: 400 !important;
line-height: 24px;
}

h5 {
align-self: stretch;
font-family: 'Syne';
font-size: 16px !important;
font-style: normal;
font-weight: 400 !important;
line-height: 24px !important;
}

.wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}