.project-content{
    width: 100%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;

    @media (max-width: 450px) {
        padding-left: 0px;
        
      }
}
.project-content__img{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.project-content__img-desc{
    text-align: left;
    font-family: 'Syne', sans-serif !important;
    font-size: 32px !important;
    font-weight: 400 !important;
    line-height: 48px !important;
    padding-top: 48px !important;
}

.project-content__text{
    font-family: 'Syne', sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    padding-top: 32px;
}